<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artemijs Matusevs</title>
    <link rel="stylesheet" href="/styles/main.css">
    <!-- ION ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div id="main-body">
        <div id="inner-body">
            <div class="left panel">
                <h1> Artemijs Thomas Matusevs </h1>
                <p> Computer Science Student </p>
                <p> Software Engineer </p>
                <div class="contact">
                    <ul>
                        <li> <ion-icon name="logo-github"></ion-icon> </li>
                        <li> <ion-icon name="logo-linkedin"></ion-icon> </li>
                        <li> <ion-icon name="mail-outline"></ion-icon> </li>
                    </ul>
                </div>
            </div>
            
            <div class="right panel">
                <h1> Projects </h1>

                <div class="project" id="dev-note">
                    <h2 class="project-title"> Dev-Note </h2>
                    <div class="hover-content" id="hover-content-dev-note">
                        <p> Dev-Note project details </p>
                    </div>
                </div>

                <div class="project" id="dev-note">
                    <h2 class="project-title"> Dev-Note </h2>
                    <div class="hover-content" id="hover-content-dev-note">
                        <p> Dev-Note project details </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        const numDots = 50;
        const container = document.querySelector('#main-body');

        for (let i = 0; i < numDots; i++) {
            const dot = document.createElement('div');
            dot.classList.add('dot');
            dot.style.top = Math.random() * 100 + 'vh';
            dot.style.left = Math.random() * 100 + 'vw';
            dot.style.animationDuration = (Math.random() * 20 + 10) + 's';
            container.appendChild(dot);
        }
    })
</script>

</html>